/*
 * Titles
 */

.wiki-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.wiki-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.wiki-description {
  font-size: 20px;
  color: #999;
}