<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <h2>{{ title }}</h2>
                    <p>{{ error_message }}</p>
                </div>
            </div>
        </div>
    {% include "footer.html" %}
    </div>
</body>
</html>