 <footer class="align-items-center">
    <p class="border-top text-center"><a href="#">Back to top</a></p>
    <p class="text-center text-muted">Created by <a target="_blank" href="https://www.sr2.uk/">SR2 Communications Limited</a> across the road from <a target="_blank" href="https://www.57north.org.uk/">57North Hacklab</a>.</p>
</footer>

<!-- Bootstrap core JS -->
{{ bootstrap.load_js() }}