<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<!-- <title><?php if ( isset( $schema ) ) { echo $schema->space; ?> - hackerspaces.shiftout.com<?php } else { ?>Hackerspaces Microwiki - hackerspaces.shiftout.com<?php } ?></title> -->
{% if title is defined %}
    <title>{{ title }} - Hackerspace Microwiki</title>
{% else %}
    <title>Hackerspace Microwiki</title>
{% endif %}

<!-- Bootstrap core CSS -->
{{ bootstrap.load_css() }}

<!-- FontAwesome -->
{{ fontawesome_html() }}

<!-- Custom styles for this template -->
<link href="/static/wiki.css" rel="stylesheet">

<!-- Full calendar -->
<script type="text/javascript" src="/static/preact.min.js"></script>
<script type="text/javascript" src="/static/ical.min.js"></script>
<script type="text/javascript" src="/static/fullcalendar/core.min.js"></script>
<script type="text/javascript" src="/static/fullcalendar/daygrid.min.js"></script>
<script type="text/javascript" src="/static/fullcalendar/icalendar.min.js"></script>
