<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        <div class="row">
            <div class="col-sm-8">
                <div>
                    <h2>Hackerspaces Microwiki</h2>
                    <p>Select a hackerspace from the list:</p>
                </div>
                <div>
                    {% include "space_list.html" %}
                </div>
            </div>
            {% include "sidebar.html" %}
        </div>
    {% include "footer.html" %}
    </div>
</body>
</html>