<div class="col-sm-3 col-sm-offset-1">
    <div>
        <h4>What is a hackerspace?</h4>
        <p>A hackerspace is a community-operated workspace where people with common interests, often in computers, machining, technology, science, digital art or electronic art, can meet, socialize and collaborate.</p>
    </div>
    {% if not hide_space_list_in_sidebar %}
        <div>
            {% include "space_list.html" %}
        </div>
    {% endif %}
</div>