<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>
    <div class="container">
        {% include "header.html" %}
        <div class="row">
            <div class="col-sm-8">
                <div class="h-card">
                    {% set location_set = "location" in spaceapi %}
                    {% if "logo" in spaceapi %}
                        <img class="u-logo" alt="Logo of {{ space_name }}" src="{{ spaceapi["logo"] }}" style="float:right;max-width:220px;max-height:140px" />
                    {% endif %}
                    <h2 class="p-name">{{ space_name }}</h2>
                    {% if location_set and "address" in spaceapi["location"] %}
                        <p class="p-adr">{{ spaceapi["location"]["address"] }}</p>
                    {% endif %}
                    <p>
                        {% set coordinates_set = location_set and "lat" in spaceapi["location"] and "lon" in spaceapi["location"] %}
                        {% if coordinates_set or "url" in spaceapi %}
                            {% if "url" in spaceapi %}
                                <a href="{{ spaceapi["url"] }}" class="btn btn-default btn-primary" target="_blank">Visit website</a>
                            {% endif %}
                            {% if coordinates_set %}
                                <a href="https://www.openstreetmap.org/#map=16/{{ spaceapi["location"]["lat"] }}/{{ spaceapi["location"]["lon"] }}" class="btn btn-default btn-secondary" target="_blank">View map</a>
                            {% endif %}
                        {% endif %}
                    </p>

                    <p>
                        {% if "facebook" in spaceapi["contact"] %}
                            <a href="{{ spaceapi["contact"]["facebook"] }}" target="_blank"><i class="fa fa-facebook"></i></a>
                        {% endif %}

                        {% if "ext_mastodon" in spaceapi["contact"] %}
                            <a href="{{ spaceapi["contact"]["ext_mastodon"] }}" target="_blank"><i class="fa fa-mastodon"></i></a>
                        {% endif %}

                        {% if "twitter" in spaceapi["contact"] %}
                            <a href="https://www.twitter.com/{{ spaceapi["contact"]["twitter"].lstrip("@") }}" target="_blank"><i class="fa fa-twitter"></i></a>
                        {% endif %}
                    </p>

                    {% if "state" in spaceapi %}
                        <div class="card border-primary mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Space Status</h3>
                            </div>
                            <div class="card-body">
                                {% set state_text = "open" if spaceapi["state"]["open"] else "closed"  %}
                                {% if "icon" in spaceapi["state"] %}
                                    <img alt="{{ space_name }} is {{ state_text }}" src="{{ spaceapi["state"]["icon"]["open"] }}" style="float:right;max-width:100px" />
                                {% endif %}
                                <p class="card-text">
                                    <p>
                                        {{ space_name }} is {{ state_text }}
                                        {% if "message" in spaceapi["state"] %}
                                            with the message: {{ spaceapi["state"]["message"] }}
                                        {% endif %}
                                    </p>
                                    <p class="text-muted">
                                    {% if "trigger_person" in spaceapi["state"] or "lastchange" in spaceapi["state"] %}
                                        Last updated
                                        {% if "lastchange" in spaceapi["state"] %}
                                             on {{ timestamp_to_string(spaceapi["state"]["lastchange"]) }}
                                        {% endif %}
                                        {% if "trigger_person" in spaceapi["state"] %}
                                            by {{ spaceapi["state"]["trigger_person"] }}
                                        {% endif %}
                                    {% endif %}
                                    </p>
                                    {{ status_text }}
                            </div>
                        </div>
                    {% endif %}

                    {% if "events" in spaceapi %}
                        <div class="card border-secondary mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Recent Events</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for e in spaceapi["events"] %}
                                        <li class="card-text">
                                            {% set event_line = "" %}
                                            {% if "type" in e %}
                                                {% set event_line = event_line ~ e["type"] %}
                                            {% endif %}
                                            {% if "timestamp" in e %}
                                                {% set event_line = event_line ~ " at " ~ e["timestamp"] %}
                                            {% endif %}
                                            {% if "extra" in e %}
                                                {% set event_line = event_line ~ ": " ~ e["extra"] %}
                                            {% endif %}
                                            {% if "name" in e %}
                                                {% set event_line = event_line ~ " (" ~ e["name"] ~ ")" %}
                                            {% endif %}
                                            {{ event_line }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if "feeds" in spaceapi %}
                        {% if "blog" in spaceapi["feeds"] %}
                            {% set feed_text = session.get(spaceapi["feeds"]["blog"]["url"]).content %}
                            {% set feed_title, feed_tree = fetch_feed(feed_text) %}

                            <div class="card border-secondary mb-3">
                                <div class="card-header">
                                    <h3 class="card-title">{{ "Error fetching feed" if feed_title == None else "Feed: " + feed_title }}</h3>
                                </div>
                                <div class="card-body">
                                    {{ feed_tree | safe }}
                                </div>
                            </div>
                        {% endif %}

                        {% if "calendar" in spaceapi["feeds"] %}
                            <div class="card border-secondary mb-3">
                                <div class="card-header">
                                    <h3 class="card-title">Upcoming Events</h3>
                                </div>
                                <div class="card-body">
                                    <div id="event-calendar"></div>
                                    <script>
                                        document.addEventListener("DOMContentLoaded", function()
                                        {
                                            let event_calendar_div = document.getElementById("event-calendar");
                                            let calendar = new FullCalendar.Calendar(event_calendar_div, {
                                                initialView: "dayGridMonth",
                                                themeSystem: "bootstrap5",
                                                events: {
                                                    url: "/calendar/{{ urlencode(space_name) }}",
                                                    format: "ics"
                                                }
                                            });
                                            calendar.render();
                                        });
                                    </script>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                    {% if "projects" in spaceapi %}
                        <div class="card border-secondary mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Projects</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for project in spaceapi["projects"] %}
                                        <li><a href="{{ project }}" target="_blank">{{ project }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    <div class="card border-secondary mb-3">
                        <div class="card-header">
                            <h3 class="card-title">Contact Details</h3>
                        </div>
                        <div class="card-body">
                            <ul>
                                {% for key, value in spaceapi["contact"].items() %}
                                    {% if key in contact_fields %}
                                        {{ contact_fields[key].generate_link(value) | safe }}
                                    {% endif %}
                                {% endfor %}

                                {% if coordinates_set %}
                                    <li class="card-text u-geo">
                                        Coordinates: <span class="p-latitude">{{ spaceapi["location"]["lat"] }}</span>, <span class="p-longitude">{{ spaceapi["location"]["lon"] }}</span>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>

                    {% if "links" in spaceapi %}
                        <div class="card border-secondary mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Links</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for link in spaceapi["links"] %}
                                        {% set tooltip = "" %}
                                        {% if "description" in link %}
                                            {% set tooltip = ' title="' + link["description"] + '"' %}
                                        {% endif %}
                                        <li><a href="{{ link["url"] }}" target="_blank"{{ tooltip | safe }}>{{ link["name"] }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}

                    {% if errs|length > 0 %}
                        <div class="card border-secondary mb-3">
                            <div class="card-header">
                                <h3 class="card-title">Errors</h3>
                            </div>
                            <div class="card-body">
                                <ul>
                                    {% for err in errs %}
                                        <li>{{ err | safe }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% include "sidebar.html" %}
        </div>
    {% include "footer.html" %}
    </div>
</body>
</html>